---
Checks: >
  *,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -zircon-*,
  -llvm-header-guard,
  -llvmlibc-*,
  -modernize-use-trailing-return-type,
  -readability-identifier-length,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-union-access

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

FormatStyle: file

ExtraArgs:
  - '-std=c++23'
...